bachelorarbeit_akcabay_samet_1860463.aux
bachelorarbeit_akcabay_samet_1860463.log
bachelorarbeit_akcabay_samet_1860463.out
bachelorarbeit_akcabay_samet_1860463.synctex.gz
bachelorarbeit_akcabay_samet_1860463.toc
